---
account:
  username: {{ rackspace_username }}
  api_key: {{ rackspace_api_key }}
  region: {{ rackspace_region }}
container: {{ asset_container }}
directories:
- assets/css
- assets/fonts
- assets/img
- assets/js
- images
